body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #ccc;
}

.container {
  text-align: center;
}

button {
  background-color: rgb(134, 130, 130);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

button:hover {
  background-color: rgb(194, 189, 189);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: aliceblue;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #ccd;
  color: #fff;
}
